<div class="row" style="margin-top:-20px;">
  <div class="col-md-6">
    <h3>Famílias</h3>  
  </div>    
</div> 
<hr>
<div class="row">  
    <div class="col-md-6" style="margin-bottom:5px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert">Inserir</button> 
    </div>
    <div class="col-md-6" class="pull-right">
        <div class="input-group custom-search-form ">
            <input type="text" class="form-control" ng-model="criterioDeBusca">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:20px;margin-bottom:10px;"> 

        <table id="mytable" class="table table-bordered table-striped table-condensed">
            <thead>
            <th>Descrição<i class="fa fa-sort pull-right"></i></a></th>
            <th style="width: 10px;"></th>                                                              
            </thead>
            <tbody>
                <tr ng-repeat="familia in lista| filter:criterioDeBusca ">
                    <td>{{familia.descricao}}</td>    
                    <td>         
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Editar <span class="caret"></span>  
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"  ng-click="editar(familia)" data-toggle="modal" data-target="#edit" data-title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a></li>
                                <li><a href="#" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>            
        </table>  
    </div>
</div>

<!-- Modal -->
<div id="edit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar família</h4>
      </div>
      <div class="modal-body">   
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" id="descricao" ng-model="familia.descricao">
        </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="gravar()" data-dismiss="modal">Gravar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="insert" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Inserir família</h4>
      </div>
      <div class="modal-body">   
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" id="descricao" ng-model="familia.descricao">
        </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="gravar()" data-dismiss="modal">Gravar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Excluir</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Você quer excluir este registro?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-success" ng-click="deletar(familia)">Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
</div> 
