<div class="row" style="margin-top:-20px;">
  <div class="col-md-6">
    <h3>Famílias</h3>  
  </div>    
</div> 
<div class="row">  
    <div class="col-md-6" style="margin-bottom:5px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert">Inserir</button> 
    </div>
    <div class="col-md-6">
        <div class="input-group custom-search-form ">
            <input type="text" class="form-control" ng-model="criterioDeBusca">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="margin-top:20px;margin-bottom:10px;"> 

        <table id="mytable" class="table table-bordered table-striped table-condensed">
            <thead>
            <th style="width: 10px;">Código<i class="fa fa-sort pull-right"></i></th>
            <th>Descrição<i class="fa fa-sort pull-right"></i></th>
            <th style="width: 10px;"></th>  
            <th style="width: 10px;"></th>  
            </thead>
            <tbody>
                <tr ng-repeat="familia in lista| filter:criterioDeBusca ">
                    <td>{{familia.id}}</td>
                    <td>{{familia.descricao}}</td>    
                    <td><button class="btn" ng-click="editar(familia)" data-toggle="modal" data-target="#edit" data-title="Edit">Editar</button></td>
                    <td><button class="btn" ng-click="deletar(familia)">Excluir</button></td>
                </tr>
            </tbody>            
        </table>  
    </div>
</div>

<!-- Modal -->
<div id="edit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar família</h4>
      </div>
      <div class="modal-body">   
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" id="descricao" ng-model="familia.descricao">
        </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="gravar()" data-dismiss="modal">Gravar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="insert" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Inserir família</h4>
      </div>
      <div class="modal-body">   
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" class="form-control" id="descricao" ng-model="familia.descricao">
        </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="gravar()" data-dismiss="modal">Gravar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
